<!DOCTYPE html>
<html>
  	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Gambar <dot> pictures</title>
	    <link rel="stylesheet" href="<?=mix('/dist/app.css')?>">
	    <?=$this->section('meta')?>
 	</head>
<body class="app">
	
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="container">
			<div class="navbar-brand">
				<a class="navbar-item" href="/">
			      	<img src="/dist/img/logo.png" height="28">
			    </a>
			    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
			      	<span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span>
			    </a>
			</div>
			<div class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="/">
					 	<i class="icon ion-upload ion-2x"></i> Unggah
					</a>
				</div>
			</div>
		</div>
	</nav>

	<section class="main section" id="app" v-on:drop="drop" v-on:dragover="allowDrop">
		<?=$this->section('content')?>
	</section>
	
	<footer class="footer">
	  <div class="content has-text-centered">
	    <p>
	      	<strong>Gambar <dot> pictures </strong> Free space to upload your images.
	    	<br><span class="powered">Powered by Gambar.pictures &copy; 2020-<?= date('Y'); ?></span>
	    </p>
	  </div>
	</footer>
	<script type="text/javascript">
		window._session = '<?= str_random(10); ?>'
		window._csrf = '<?= $_SESSION["csrf"]; ?>'
	</script>

	<script src="<?=mix('/dist/app.js')?>"></script>
</body>
</html>